<?xml version="1.0" encoding="UTF-8"?>
<phpunit
	bootstrap="vendor/autoload.php"
	colors="true"
	verbose="true"
	beStrictAboutChangesToGlobalState="true"
	beStrictAboutOutputDuringTests="true"
	beStrictAboutTestSize="true">

	<testsuites>
		<testsuite name="PHPUnit">
			<directory>tests</directory>
		</testsuite>
	</testsuites>

	<listeners>
	</listeners>

	<filter>
		<whitelist>
		</whitelist>
	</filter>
</phpunit>
